# work folder
__pycache__/*
.DS_Store
*/**/dataset/*
**/.ipynb_checkpoints/
*/**/*.keras
*/**/*.png
*/**/expedia_train.csv
*/**/*.mf4
*/***.log
.idea/**
*/**/lightning_logs/*
*/**/*pycache*/*
nocommit/*
NN4VehicleStateClustering/vehicle_drinving_measurement.csv
*/**/_standardizParam.json